<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <!-- Links -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">{{website_name}}</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><span class="glyphicon glyphicon-user"></span> Sign Up</li>
      <li><span class="glyphicon glyphicon-log-in" style="margin-left: 10px;"></span> Login</li>
    </ul>

  </div>
</nav>


<div class="container" style="margin-top: 60px;">
  <h2 class="mt-3 mb-3">{{title}}</h2>
  <hr>  
  <router-outlet></router-outlet>

  <!-- <div class="card">
    <div class="card-body">
       
    </div>
  </div> -->
</div>

